.weather-container .cards {
  height: 100vh;
}
.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}
a {
  text-decoration: none !important;
  color: black !important;
  margin-left: 30px;
}

a:hover {
  color: red !important;
}
hr {
  color: black !important;
}
